.container
  img(src="@/assets/8-ball.png" width="100px")
  h1.mt-5 Hannah's 8-Ball
  div(v-if="!shaken")
    b-form(@submit="shake" @reset="reset" v-if="!shaken" no-validate)
      b-form-group(
        label="Ask a question below and maybe you'll get the answers you seek..."
        label-for="question"
        :invalid-feedback="invalidFeedback"
        :state="state"
      )
        b-form-input(id="question" v-model="question" :state="state" trim)
      b-button(block type="submit" variant="primary") Submit
  div(v-if="shaken")
    p {{ answer }}
    button.btn.btn-primary.btn-block(@click="reset") Shake Again!
